/* Elements */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* overflow: auto; */
}

body {
  background-color: #0b0c10;
  font-family: 'Courier New', Courier, monospace;
}

section {
  border-radius: 5vh;
  border: #0b0c10 solid 4vh;
  background-color: #1f2833;
  height: 100vh;
  color: #e5e5e5;
  padding: 8vh 8vw;
  display: grid;
  line-height: 1.6;
  scroll-snap-align: start;
}

p {
  font-size: 1.2em;
}

h1 {
  color: #66fcf1;
  font-size: 2.2em;
}

h2 {
  font-size: 1.5em;
  /* font-weight: normal; */
  margin-top: 20px;
}

a {
  color: #66fcf1;
}

ul {
  padding-left: 30px;
  font-size: 1.2em;
}

/* Classes */
.container {
  height: 100vh;
  width: 100%;
  overflow: auto;
  scroll-snap-type: y mandatory;

  height: calc(var(--vh, 1vh) * 100);
}

.nav {
  grid-row: 1;
  text-align: end;
}

.content {
  grid-row: 2;
}

.chevronDown {
  grid-row: 3;
  text-align: center;
  align-self: end;
}

.chevronUp {
  grid-row: 1;
  
  text-align: center;
  align-self: start;
}

.hidden {
  opacity: 0;
}

.columns3 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
}

.columns4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.mx-5 {
  margin: 0 5px;
}

/* IDs */
#project1 {
  background: linear-gradient(135deg, rgba(26, 117, 255, 0.8) 0%, rgba(0, 0, 255, 0) 100%),
    linear-gradient(360deg, #5af280 0%, rgba(0, 255, 0, 0) 100%),
    linear-gradient(225deg, #ff4d4d 0%, rgba(255, 0, 0, 0) 100%);
}

#project2 {
  background: linear-gradient(44.15deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 98.56%),
    linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(315deg, #b0b0b0 0%, rgba(176, 176, 176, 0) 100%);
}

#project3 {
  background: linear-gradient(270deg, rgba(75, 192, 192, 0.6) 0%, rgba(75, 192, 192, 0) 100%),
    linear-gradient(0deg, rgba(255, 99, 133, 0.6) 0%, rgba(255, 99, 133, 0) 100%),
    linear-gradient(180deg, rgba(54, 163, 235, 0.6) 0%, rgba(54, 163, 235, 0) 100%),
    linear-gradient(90deg, rgba(255, 160, 64, 0.6) 0%, rgba(255, 160, 64, 0) 100%), #dadada;
}

#project4 {
  background: #173e34;
}

#footer {
  height: fit-content;
}

/* Horozontal scrolling containers */
.grid {
  display: grid;
}

.hs {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 10px;
  grid-auto-flow: column;
  grid-auto-columns: calc(40vh + 40px);
  grid-template-rows: minmax(40vh, 40vh);
  overflow-x: scroll;
}

.item {
  background-color: white;
  border-radius: 10px;
  padding: 0 1vw;
  overflow: scroll;
}

.hs:before,
.hs:after {
  content: '';
  width: 10px;
}

/* Animations */
.fade-in {
  animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut ease 0.5s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
