/* Color Paletes
Dark:
-Background: #0b0c10
-Section Background: #1f2833
-Accent: #66fcf1
-Font: #e5e5e5

Light:
-Background: #fff
-Section Background: #bbb
-Accent: #00a9ba
-Font: #1a1a1a

*/

/* Elements */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* -webkit-overflow-scrolling: touch; */
  /* overflow: hidden; */
  /* font-family: "Lucida Console", Monaco, monospace; */
}

body {
  background-color: #0b0c10;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
}

section {
  border-radius: 5vh;
  border: #0b0c10 solid 4vh;
  background-color: #1f2833;
  height: 100vh;
  color: #e5e5e5;
  padding: 8vh 8vw;
  display: grid;
  line-height: 1.6;
  scroll-snap-align: start;
  overflow-x: auto;
}

p {
  font-size: 1.2em;
}

h1 {
  color: #66fcf1;
  font-size: 2.2em;
}

h2 {
  font-size: 1.5em;
  /* font-weight: normal; */
  margin-top: 20px;
}

a {
  color: #66fcf1;
}

ul {
  padding-left: 30px;
}

li {
  /* overflow: visible; */
  font-size: 1.2em;
}

span {
  white-space: nowrap;
}

/* Classes */
.container {
  height: 100vh;
  width: 100%;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.nav {
  grid-row: 1;
  text-align: end;
}

.content {
  grid-row: 2;
}

.chevronDown {
  grid-row: 3;
  text-align: center;
  align-self: end;
}

.chevronUp {
  grid-row: 1;
  
  text-align: center;
  align-self: start;
}

.hidden {
  opacity: 0;
}

.columns3 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  justify-items: center;
}

.columns3>div{
  text-align: center;
}

.columns4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* display: flex; */
  /* flex: 1 1 0; */
  /* flex-wrap: wrap; */
}

.mx-5 {
  margin: 0 5px;
}

.projectLink {
  /* position: absolute;
  bottom: 10px;
  right: -10px; */
  /* vertical-align: bottom;
  justify-self: right; */
  align-self: flex-end;
  margin-top: auto;
  padding-bottom: 0.7vw;
  cursor: pointer;
}

/* .linkImage {
  display: flex;
  margin: auto;
} */

/* IDs */
#project1 {
  background: linear-gradient(135deg, rgba(26, 117, 255, 0.8) 0%, rgba(0, 0, 255, 0) 100%),
    linear-gradient(360deg, #5af280 0%, rgba(0, 255, 0, 0) 100%),
    linear-gradient(225deg, #ff4d4d 0%, rgba(255, 0, 0, 0) 100%);
}

#project2 {
  background: linear-gradient(44.15deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 98.56%),
    linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(315deg, #b0b0b0 0%, rgba(176, 176, 176, 0) 100%);
}

#project3 {
  background: linear-gradient(270deg, rgba(75, 192, 192, 0.6) 0%, rgba(75, 192, 192, 0) 100%),
    linear-gradient(0deg, rgba(255, 99, 133, 0.6) 0%, rgba(255, 99, 133, 0) 100%),
    linear-gradient(180deg, rgba(54, 163, 235, 0.6) 0%, rgba(54, 163, 235, 0) 100%),
    linear-gradient(90deg, rgba(255, 160, 64, 0.6) 0%, rgba(255, 160, 64, 0) 100%), #dadada;
}

#project4 {
  background: #173e34;
}

#footer {
  height: auto;
  padding: 2vh 2vw;
}

#linkGrid {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: end;
  column-gap: 20px;
}

#scrollTop {
  text-align: center; 
  margin-top: 30px;
}

/* Horozontal scrolling containers */
.grid {
  display: grid;
}

.hs {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 10px;
  grid-auto-flow: column;
  grid-auto-columns: calc(50vw + 40px);
  grid-template-rows: minmax(50vh, 50vh);
  overflow-x:auto;
}

.item {
  background-color: white;
  border-radius: 10px;
  padding: 0 2vw;
  overflow: auto;
  display: inline-flex;
  flex-direction: column;
  /* cursor: pointer; */
}

.hs:before {
  content: '';
  width: 10px;
}

.hs:after {
  /* content: ''; */
  width: 10px;
}

/* Project Windows */

/* The Modal (w3 Schools) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border-radius: 15px;
  width: 80%;
  height: 95%;
}

/* (https://codepen.io/JohJakob/pen/YPxgwo) */
.titlebar {
  background-color: rgb(39,41,42);
  height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: #b1b2b4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding-top: 3px;
}

.siteShowcase {
  overflow: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  height: calc(100% - 25px);
}

.buttons {
  padding-left: 8px;
}

.minimize {
  background: #ffbd4c;
  font-size: 9pt;
  line-height: 11px;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  border: 1px solid #e09e3e;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.zoom {
  background: #00ca56;
  font-size: 9pt;
  line-height: 11px;
  margin-left: 6px;
  width: 11px;
  height: 11px;
  border: 1px solid #14ae46;
  border-radius: 50%;
  display: inline-block;
}

/* Slideshow (w3 Schools)*/
/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
  height: calc(100% - 25px);
  overflow-y: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.slideImage {
  width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Animations */

/* Fading animation modal */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Content fade */
.fade-in {
  animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut ease 0.5s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.clickable {
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.clickable:hover {
  transform: scale(1.3);
}

/* Pulse Animation (https://codepen.io/olam/pen/zcqea)*/
.pulse {
  /* margin:100px; */
  /* display: block; */
  /* width: 22px; */
  /* height: 22px; */
  border-radius: 50%;
  /* background: #cca92c; */
  cursor: pointer;
  box-shadow: 0 0 0 rgba(102, 252, 241, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    /* 102, 252, 241 - Theme color */
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@media screen and (max-width: 800px) {
  
  .columns4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .columns3 {
    grid-auto-flow: unset;
    grid-template-columns: repeat(1, 1fr);
  }

}