/* Elements */
body {
  padding: 0;
  margin: 0;
}

a {
  padding: 3vw;
}

h1 {
  text-align: center;
}

section {
  border-radius: 0;
  border: none;
  margin: 0;
  padding: 4vh 8vw 10vh 8vw;
  height: 100vh;
}

/* Classes */
.nav {
  text-align: center;
}

.item {
  padding: 0 5vw;
  scroll-snap-align: center;
}

.columns3 {
  /* display: inline; */
  grid-auto-flow: unset;
  grid-template-columns: repeat(1, 1fr);
}

.columns4 {
  grid-template-columns: repeat(2, 1fr);
}

.chevronDown, .chevronUp {
  display: none;
}

/* IDs */
#projects {
  padding: 4vh 0 10vh 0;
}

#footer {
  height: 100vh;
}

/* Horozontal Scrolling Containers */
.hs {
  grid-auto-columns: calc(55vw + 40px);
  grid-template-rows: minmax(60vh, 60vh);
  scroll-snap-type: x mandatory;
  grid-template-columns: 15vw;
}

.hs:before,
.hs:after {
  content: '';
  width: 15vw;
}

/* Adjustments for smaller mobile devices */
@media screen and (max-width: 360px) {
  p, ul, a {
    font-size: medium;
  }
  h1 {
      font-size: larger;
  }
  h2 {
      font-size: large;
  }
}

@media screen and (max-width: 320px) {
  section {
    line-height: 1.3;
  }
}